<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497234524456-b4c8c99od7uhoeekt0ftmvtopodrdni8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497234524456-b4c8c99od7uhoeekt0ftmvtopodrdni8</string>
	<key>API_KEY</key>
	<string>AIzaSyABgaNZAlwZHANVd60n4WVBUzeEbV1tFPM</string>
	<key>GCM_SENDER_ID</key>
	<string>497234524456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sti.Bicolscubadiving.dev</string>
	<key>PROJECT_ID</key>
	<string>butanding-scuba-diving</string>
	<key>STORAGE_BUCKET</key>
	<string>butanding-scuba-diving.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497234524456:ios:094ca13acb4ec09bf3f81d</string>
</dict>
</plist>